body {
    margin: 0;
  }



.title {
    color: #02ccba;
  
}

header {
    height: 40px;
    background-color: black;
    color: white;
}

a {
    display: block;
    color: white;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.top-wrapper {
    padding: 180px 0 180px 0;
    background-image: url("images/main_1.jpg");
    background-size: cover;
    
}

.container h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;

}

.container span {
    color: red;
}

  
