body {
    margin: 0;
    background-image: linear-gradient(0deg, transparent 31px, #00bfff 32px), linear-gradient(90deg,  transparent 31px, #00bfff 32px);
    background-size: 32px 32px;
  }



.title {
    color: #02ccba;
  
}

header {
    height: 40px;
    background-color: black;
    color: white;
}

a {
    display: block;
    color: white;
    text-decoration: none;
}

.top-wrapper .container {
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.top-wrapper {
    padding: 180px 0 120px 0;
    background-image: url("images/main_1.jpg");
    background-size: cover;
    
}

.top-wrapper .container h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    opacity: 0.8;

}

.top-wrapper .container span {
    color: red;
}

.top-wrapper p {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    opacity: 1.0;
}

.container .header-left .fa-solid .fa-code{
    float: left;
    
}


.header-right {
    float: right;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

header a {
    display: block;
    background-color: gray;
    padding: 8px;
    transition: all 0.5s;
}



header a:hover {
    opacity: 0.8;
}

.top-wrapper a {
    height: 40px;
    width: 100px;
    display: inline-block;
    background-color: gray;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.top-wrapper a:active {
    box-shadow:none;
    position:relative;
    top: 1px;
}

.main-wrapper {
    width: 80%;
    margin: 0 auto;
}

.main-wrapper .container {
    text-align: left;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #191970;
}
